---
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { pdfs } from "../../pdfs";

interface Props {
  file: string;
  title: string;
}

export const getStaticPaths: GetStaticPaths = async () => {
  return Object.entries(pdfs).map(([path, fileUrl]) => {
    return {
      params: { prova: path.replace("./banco-de-provas/", "").replace(".pdf", "") },
      props: {
        file: fileUrl
      }
    };
  });
};

const { file: filePath, title } = Astro.props;
---

<Layout title={title}>
  <h1>{title}</h1>
  <embed src={filePath} width="50%" height="1000px" />
</Layout>


