---
import Layout from "@layouts/Layout.astro"
import { folders } from "src/pdfs";

const materias = Object.keys(folders);
---

<Layout title="Cursos">
  <ul>
    {materias.map((materia) => <li><a href={`provas/${materia}`}>{materia}</a></li>)}
  </ul>
</Layout>
