---
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths, GetStaticPathsResult } from "astro";
import { folders } from "@src/pdfs";

interface Props {
  professors: string[];
}

export const getStaticPaths: GetStaticPaths = () => {
  const paths: GetStaticPathsResult = [];

  Object.entries(folders).forEach(([materia, nest]) => {
    Object.entries(nest).forEach(([curso, nest]) => {
      const professors = Object.keys(nest);

      paths.push({
        params: {
          materia,
          curso,
        },
        props: {
          professors,
        },
      });
    });
  });

  return paths;
};

const { professors } = Astro.props;
---

<Layout title="Professores">
  <ul>
    {professors.map((professor) => <li><a href={`./${professor}/`}>{professor}</a></li>)}
  </ul>
</Layout>
