---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import { folders, type File } from "@src/pdfs";

interface Props {
  folders: {
    name: string;
    slug: string;
  }[];
  files: File[];
}

export const getStaticPaths = (() => {
  return folders.map((folder) => ({
    params: { folders: folder.slug },
    props: {
      folders: folder.folders,
      files: folder.files,
      path: undefined,
    },
  }));
}) satisfies GetStaticPaths;

const { files, folders: folderList } = Astro.props;
---

<Layout title="">
  <section class="grid">
    {
      files && !!files.length && (
        <article>
          <header>
            <strong>Provas</strong>
          </header>
          <ul>
            {files.map((file) => (
              <li>
                <a href={file.slug}>{file.name.replace(/\..+$/, "")}</a>
              </li>
            ))}
          </ul>
        </article>
      )
    }
    {
      folderList && !!folderList.length && (
        <article>
          <header>
            <strong>Pastas</strong>
          </header>
          <ul>
            {folderList.map(({ name, slug }) => (
              <li>
                <a href={slug}>{name}</a>
              </li>
            ))}
          </ul>
        </article>
      )
    }
  </section>
</Layout>

<style>
  embed,
  iframe,
  object {
    width: 80dvw;
    height: 100dvh;
  }
</style>
