---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import { folders, type File } from "@src/pdfs";
import FileDisplay from "@components/FileDisplay.astro";

type Props = {
  file: File
}

export const getStaticPaths = (() => {
  return folders.flatMap((folder) =>
    folder.files.map((file) => ({
      params: { files: file.slug },
      props: {
        file
      } satisfies Props,
    })),
  );
}) satisfies GetStaticPaths;

const { file } = Astro.props;
const fileSlug = file.name.replace(/\..+$/, "");
---

<Layout title="Prova">
  <hgroup>
    <h1>{fileSlug}</h1>
    {
      file.type === "reference" && (
        <a class="contrast" href={file.uri} download={file.name}>
          Download
        </a>
      )
    }
  </hgroup>

  <section>
    <FileDisplay file={file} />
  </section>
</Layout>
