---
import type { GetStaticPaths, GetStaticPathsResult } from "astro";
import Layout from "../layouts/Layout.astro";
import { folders, type File } from "@src/pdfs";
import FileDisplay from "@components/FileDisplay.astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

type Props = {
  file: File;
  Content?: AstroComponentFactory;
};

export const getStaticPaths = (() => {
  const paths: GetStaticPathsResult = folders.flatMap((folder) =>
    folder.files.map((file) => ({
      params: { files: file.slug },
      props: {
        file,
      } satisfies Props,
    })),
  );

  return paths;
}) satisfies GetStaticPaths;

const { file } = Astro.props;
const fileSlug = file.name.replace(/\..+$/, "");
---

<Layout title="Prova">
  <hgroup>
    <h1>{fileSlug}</h1>
    <a class="contrast" href={file.uri} download={file.name}> Download </a>
  </hgroup>

  <section>
    <FileDisplay file={file} />
  </section>
</Layout>
