---
import Layout from "@layouts/Layout.astro";
import { folders } from "src/pdfs";

const materias = Object.keys(folders);
---

<Layout title="Matérias">
  <ul>
    {
      materias.map((materia) => (
        <li>
          <a href={`./${materia}/`}>{materia}</a>
        </li>
      ))
    }
  </ul>
</Layout>
