---
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { pdfs } from "@src/pdfs";

interface Props {
  file: string;
  title: string;
}

export const getStaticPaths: GetStaticPaths = async () => {
  return Object.entries(pdfs).map(([path, fileUrl]) => {
    const paths = path.replace(".pdf", "").split("/");

    return {
      params: {
        materia: paths[0],
        curso: paths[1],
        professor: paths[2],
        prova: paths[3],
      },
      props: {
        file: fileUrl,
        title: paths[paths.length - 1],
      },
    };
  });
};

const { file: filePath, title } = Astro.props;
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <embed src={filePath} />
  </main>
</Layout>

<style>
  :global(*) {
    padding: 0;
    margin: 0;
  }

  :global(body) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  main {
    flex: 1;
    display: grid;
    place-items: center;
  }

  embed {
    width: 80dvw;
    height: 100dvh;
  }
</style>
